<div class="container-fluid">
    <div class="row align-items-start">
      <div class="col">
        <form>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"> Project</label>
                <div class="col-sm-3">
                  <input type="text" id="txtProject" [disabled]="true" class="form-control" name="txtProject" [(ngModel)]="txtProject">
                </div>
                <div class="col-sm-1">
                    <button id="btnSearchProject" class=" btn btn-secondary" (click)="searchProject()">Search</button>
                </div>
                
                <div class="col-sm-7">
                    <label> Sort Task By :</label>
                    <button id="btnStartDate" class="btn btn-primary" (click)="sort('START_DATe')">Start Date</button> &nbsp;
                    <button id="btnEndDate" class="btn btn-success" (click)="sort('END_DATE')">End Date</button> &nbsp;
                    <button id="btnPriority" class="btn btn-warning" (click)="sort('PRIORITY')">Priority</button> &nbsp;
                    <button id="btnStatus" class="btn btn-info" (click)="sort('STATUS')">Status</button> &nbsp;
                  </div> 
              </div>
  
            <div class="form-group row jumbotron">
             
             <table id=tdAllTasks class="table table-bordered">
               <thead class="thead-dark">
                 <tr>
                   <th>Task</th>
                   <th>Parent Task</th>
                   <th>Priority</th>
                   <th>Start Date</th>
                   <th>End Date</th>
                   <th></th>
                   <th></th>
                   <th></th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor = "let task of allTask | orderpipe:sortingName:isDesc">
                   <td><label class="col-sm-4 col-form-label" > {{task.TASK}}</label> </td>
                   <td><label class="col-sm-4 col-form-label" > {{task.PARENT_ID}}</label> </td>
                   <td><label class="col-sm-4 col-form-label" > {{task.PRIORITY}} </label> </td>
                   <td><label class="col-sm-4 col-form-label" > {{task.START_DATE | date}} </label> </td>
                   <td><label class="col-sm-4 col-form-label" > {{task.END_DATE | date}} </label> </td>
                   <td><button class="btn btn-sm btn-warning" id="btnEditTask" [disabled]="task.Status == 1"  [routerLink]="['/AddTask',task.TASK_ID]">Edit</button></td>
                   <td><button class="btn btn-sm btn-warning" id="btnEndTask" (click) ="endTask(task.TASK_ID)">End</button></td>
                   <td><button class="btn btn-sm btn-warning" id="btnDeleteTask" (click) ="deleteTask(task.TASK_ID)">Delete</button></td>
                 </tr>
               </tbody>
             </table>
            </div>
        </form>
      </div>
    </div>
  </div>
  