input[type="text"]{
    background-color: rgb(192, 189, 189)!important;
}

.txtTask{
    width: 80;
   
}

.clslable
{
    background-color: rgb(192, 189, 189)!important;
    padding: "10%"
   
}

.maindiv{
    margin-left: "80%";
}

body{
    margin-left: "80%";  
}