<br>
<div class="container-fluid">
  <div class="row align-items-start jumbotron">
    <div class="col">
            <form  [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                   <label class="col-sm-1 col-form-label"> First Name</label>
                   <div class="col-sm-2">
                      <input type="text" class="form-control" formControlName ="FIRST_NAME" required>
                    </div>
                  </div>
             
              
              <div class="form-group row" id="rowPriority">
                  <label class="col-sm-1 col-form-label"> Last Name</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName ="LAST_NAME" >
                </div>
              </div>
              
                <div class="form-group row" id="rowUser">
                    <label class="col-sm-1 col-form-label">Employee ID</label>
                  <div class="col-sm-2">
                    <input type="text" pattern="\d*"  class="form-control"  formControlName ="EMPLOYEE_ID" required>
                  </div>
                </div>
                <div class="form-group row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-8">
                          <button id="btnSubmit" type="Submit"  class="btn btn-primary"> Add User</button> &nbsp;&nbsp;
                          <button id="btnReset" type="button" (click)="resetUserForm()" class=" col-sm-1  btn btn-primary"> Reset</button>
                          </div>
                 </div> 
              </form>
    </div>
  </div>
  <div class="row align-items-start jumbotron">
    <!-- <div class="col-sm-1"></div> -->
        <div class="col-sm-10">
            <form>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtSearchUser"  name="txtSearchUser" [(ngModel)]="txtSearchUser"  placeholder="search...">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-8">
                      <div class="row">
                        <label class="col-sm-2 col-form-label"> Sort By :</label>
                          <button id="btnStartDate" class="btn btn-primary" (click)="sort('FIRST_NAME')">First Name</button>
                          &nbsp; &nbsp;
                          <button id="btnEndDate" class="btn btn-success" (click)="sort('LAST_NAME')">Last Name</button>
                          &nbsp; &nbsp;
                          <button id="btnPriority" class=" btn btn-warning" (click)="sort('EMPLOYEE_ID')">Employee ID</button>
                          &nbsp; &nbsp;
                         
                        <!-- </div>  -->
                      </div>
                    </div>
               </div>
               <div class="form-group row">
                 <div class="col-sm-12">
                   <ul class="list-group" *ngFor= "let user of allUsers | filterpipe : txtSearchUser | orderpipe:sortingName:isDesc">
                      <li class="list-group-item list-group-item-action">
                          <div class="form-group row">
                            <div class="col-sm-8 jumbotron container">
                                <div class="form-group row">
                                    <div class="col-sm-6"> 
                                      <label class="col-form-label"> First Name : {{user.FIRST_NAME}} </label>
                                    </div>
                                    <div class="col-sm-6"></div>
                                  </div>
                                  <div class="form-group row">
                                      <div class="col-sm-6"> 
                                          <label class="col-form-label">  Last Name : {{user.LAST_NAME}} </label>
                                        </div>
                                        <div class="col-sm-6"></div>
                                  </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6"> 
                                            <label class="col-form-label">  Employee ID : {{user.EMPLOYEE_ID}} </label>
                                          </div>
                                          <div class="col-sm-6"></div>
                                      </div>
                            </div>
                            <div class="col-sm-1">
                                <button id="btnEdit"  class="form-group row btn btn-info" (click)="editUser(user)">Edit User</button> &nbsp;&nbsp;
                            </div>
                            <div class="col-sm-1">
                                <button id="btnDelete" class="form-group row btn btn-info" (click)="deleteUser(user)">Delete</button>
                              </div>
                          </div>
                      </li>
                   </ul>
                 </div>
               </div>
            </form>
          </div>
  </div>
</div>

