<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><h1>Poject Manager</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive ="active" >
            <a class="nav-link" [routerLink] ="['AddProject']">Add Project <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" routerLinkActive ="active" >
        <a class="nav-link" [routerLink] ="['AddTask']">Add Task <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" routerLinkActive ="active" >
          <a class="nav-link" [routerLink] ="['AddUser']">Add User <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['ViewTask']" >View Task</a>
      </li>
    </ul>
  </div>

<!-- <li routerLinkActive="active"> <a [routerLink] ="['./addtaskhandler']"> Add Task </a></li>
 <li routerLinkActive="active"> <a [routerLink] ="['/movie']"> Movie Details </a></li>
<li routerLinkActive="active"> <a [routerLink] ="['/currency']"> Currency Rates </a></li>  -->
</nav>
