<br>
<div class="container-fluid">
  <div class="row align-items-start jumbotron">
    <div class="col">
            <form  [formGroup]="taskForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                   <label class="col-sm-1 col-form-label"> Project</label>
                   <div class="col-sm-2">
                      <input type="text" class="form-control"  [(ngModel)]="selectedProjectName" [ngModelOptions]="{standalone: true}">
                    </div>
                    <button id="btnSearchProject" type="button" class="col-sm-1 btn btn-secondary" (click)="searchProject()">Search</button>
                  </div>
              <div class="form-group row">
                <label class="col-sm-1 col-form-label"> Task</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName ="TASK">
              </div>
              </div>
               <div class="form-group row">
                  <div class="col-sm-1"></div>
                  <div class="form-check col-sm-8">
                      &nbsp;&nbsp;<input class="form-check-input" type="checkbox"  (change)="isParentTaskChecked($event)" id="chkIsParentTask">
                      <label class="form-check-label" for="chkIsParentTask">
                        Parent Task
                      </label>
                    </div>
              </div>
              <div class="form-group row" id="rowPriority">
                  <label class="col-sm-1 col-form-label"> Priority</label>
                <div class="col-sm-3">
                  <input type="range" class="form-control" [attr.disabled]="isParentTask?'':null" formControlName ="PRIORITY">
                </div>
              </div>
              <div class="form-group row" id="rowParent">
                  <label class="col-sm-1 col-form-label">Parent Task</label>
                <div class="col-sm-2">
                  <input type="text"  class="form-control" [attr.disabled]="isParentTask?'':null"   [(ngModel)]="selectedParentName" [ngModelOptions]="{standalone: true}">
                </div>
                <button id="btnSearchParent" type="button" [attr.disabled]="isParentTask?'':null" class="col-sm-1 btn btn-secondary" (click)="searchParent()">Search</button>
              </div>
                <div class="form-group row" id="rowStartDate">
                    <label class="col-sm-1 col-form-label"> Start Date</label>
                  <div class="col-sm-2">
                    <input type="date" class="form-control" [attr.disabled]="isParentTask?'':null"  formControlName ="START_DATE">
                  </div>
                </div>
                <div class="form-group row" id="rowEndDate">
                    <label class="col-sm-1 col-form-label"> End Date</label>
                    <div class="col-sm-2">
                      <input type="date" class="form-control" [attr.disabled]="isParentTask?'':null" formControlName ="END_DATE">
                    </div>
                </div>
                <div class="form-group row" id="rowUser">
                    <label class="col-sm-1 col-form-label">User</label>
                  <div class="col-sm-2">
                    <input type="text"  class="form-control" [attr.disabled]="isParentTask?'':null" [(ngModel)]="selectedManagerName" [ngModelOptions]="{standalone: true}">
                  </div>
                  <button id="btnSearchUser" type="button" class="col-sm-1 btn btn-secondary" [attr.disabled]="isParentTask?'':null" (click)="searchUser()">Search</button>
                </div>
                <div class="form-group row">
                     &nbsp;&nbsp; <div class="col-sm-1"></div>
                          <button id="btnSubmit" type="Submit" [disabled]="!taskForm.valid" class="btn btn-primary"> Add Task</button>
                          &nbsp; &nbsp;
                          <button id="btnReset" type="button" (click)="resetTaskForm()" class=" col-sm-1  btn btn-primary"> Reset</button>
                 </div> 
              </form>
    </div>
  </div>
</div>

