<br>
<div class="container-fluid">
  <div class="row align-items-start jumbotron">
    <div class="col">
            <form  [formGroup]="projectForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                   <label class="col-sm-1 col-form-label"> Project</label>
                   <div class="col-sm-4">
                      <input type="text" class="form-control" formControlName ="PROJECT_NAME">
                    </div>
                  </div>
             
               <div class="form-group row">
                  <div class="col-sm-1"></div>
                  <div class="form-check col-sm-2">
                      <input class="form-check-input" type="checkbox"  (change)="isDatesEnabled($event)" id="chkIsDateEnable">
                      <label class="form-check-label" for="chkIsDateEnable">
                        Set Start and End Date
                      </label>
                    </div>
                    <div class="col-sm-2">
                      <input type="date" class="form-control" [attr.disabled]="IsStartEndDateEnabled?null :''"  formControlName ="START_DATE" placeholder="Start Date" ng-model="Start_Date | date">
                    </div>
                    <div class="col-sm-2">
                      <input type="date" class="form-control" [attr.disabled]="IsStartEndDateEnabled?null :''" formControlName ="END_DATE" placeholder="End Date" ng-model="End_Date | date">
                    </div>
              </div>
              <div class="form-group row" id="rowPriority">
                  <label class="col-sm-1 col-form-label"> Priority</label>
                <div class="col-sm-4">
                  <input type="range" class="form-control"  formControlName ="PRIORITY">
                </div>
              </div>
              
                <div class="form-group row" id="rowUser">
                    <label class="col-sm-1 col-form-label">Manager</label>
                  <div class="col-sm-2">
                    <input type="text"  class="form-control" [(ngModel)]="selectedManagerName" [ngModelOptions]="{standalone: true}">
                  </div>
                  <button id="btnSearchUser" type="button" class="col-sm-1 btn btn-secondary"  (click)="searchUser()">Search</button>
                </div>
                <div class="form-group row">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-3">
                          <button id="btnSubmit" type="Submit" [disabled]="!projectForm.valid" class="btn btn-primary"> Add Project</button>
                         &nbsp; <button id="btnReset" type="button" (click)="resetProjectForm()" class="btn btn-primary"> Reset</button>
                          </div>
                       
                 </div> 
              </form>
    </div>
  </div>
  <div class="row align-items-start jumbotron">
        <div class="col-sm-10">
            <form>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtSearchProject" name="txtSearchProject" [(ngModel)]="txtSearchProject" placeholder="search...">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-8">
                      <div class="row">
                        <label class="col-sm-2 col-form-label"> Sort By :</label>
                        <!-- <div class="col-sm-9"> -->
                          <div class="col-sm-8">
                          <button id="btnStartDate" class="btn btn-primary" (click)="sort('START_DATE')">Start Date</button>
                          &nbsp;&nbsp;
                          <button id="btnEndDate" class="btn btn-success" (click)="sort('END_DATE')">End Date</button>
                          &nbsp;&nbsp;
                          <button id="btnPriority" class=" btn btn-warning" (click)="sort('PRIORITY')">Priority</button>
                          &nbsp;&nbsp;
                          <!-- <button id="btnStatus" class=" btn btn-info" (click)="sort('Status')">Status</button> -->
                          </div>
                        <!-- </div>  -->
                      </div>
                    </div>
               </div>
               <div class="form-group row">
                 <div class="col-sm-12">
                   <ul class="list-group" *ngFor="let project of allProjectDetails | filterpipe : txtSearchProject | orderpipe:sortingName:isDesc">
                      <li class="list-group-item list-group-item-action">
                          <div class="form-group row">
                            <div class="col-sm-7 jumbotron container">
                                <div class="form-group row">
                                    <div class="col-sm-6"> 
                                      <label class="col-form-label">  Project : {{project.PROJECT_NAME}} </label>
                                    </div>
                                    <div class="col-sm-6"></div>
                                  </div>
                                  <br>
                                  <div class="form-group row">
                                      <div class="col-sm-8"> No of tasks : {{project.NoOfTasks}} </div>
                                      <div class="col-sm-4"></div>
                                  </div>
                                  <div class="form-group row">
                                    <div class="col-sm-8"> Completed : {{project.NoOfTasksCompleted}} </div>
                                    <div class="col-sm-4"></div>
                                  </div>
                                    <div class="form-group row">
                                        <div class="col-sm-8"> Start Date : {{project.START_DATE | date}} </div>
                                        <div class="col-sm-4"></div>
                                      </div>
                                      <div class="form-group row">
                                        <div class="col-sm-8"> End Date : {{project.END_DATE | date}} </div>
                                        <div class="col-sm-4"></div>
                                      </div>
                            </div>
                            <div class="col-sm-2  jumbotron container">
                                <label class="col-form-label"> Priority : {{project.PRIORITY}} </label>
                            </div>
                            <div class="col-sm-1">
                                <button id="btnUpdate" class="form-group row btn btn-info" (click)="updateProject(project)">Update</button>
                            </div>
                            <div class="col-sm-1">
                                <button id="btnSuspend" class="form-group row btn btn-info" (click)="suspendProject(project)">Suspend</button>
                            </div>
                          </div>
                      </li>
                   </ul>
                 </div>
               </div>
            </form>
          </div>
  </div>
</div>

