<div class="modal-header">
    <h4 class="modal-title">Search {{searchType}}</h4>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form  (ngSubmit)="submitForm()">
  <div class="modal-body" style="height: 400px;   
  overflow-y : scroll;">
    <input type="text" class="form-control" id="txtSearchTarget" name="txtSearchTarget" [(ngModel)]="txtSearchTarget" placeholder="search...">
          <div id=divAllTask *ngIf="searchType == 'task'" class="form-group row jumbotron">
              <table id=tdAllTask  class="table table-bordered" >
                <thead class="thead-dark">
                  <tr>
                    <th>Select</th>
                    <th>Task</th>
                    <th>ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let task of allTask | filterpipe : txtSearchTarget">
                    <td>
                      <input class="form-check-input"  type="radio" name="radioTask" id="radioTask1" (change)="SelectData($event, task)">
                    </td>
                    <td><label class="col-sm-4 col-form-label" > {{task.Task_Name}}</label> </td>
                    <td><label class="col-sm-4 col-form-label" > {{task.Task_ID}}</label> </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div id=divAllProject *ngIf="searchType == 'project'" class="form-group row jumbotron">
              <table id=tdAllProject class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>Select</th>
                    <th>Project</th>
                    <th>ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let project of allProject | filterpipe : txtSearchTarget">
                    <td>
                       <input class="form-check-input"  type="radio" name="radioProject" id="radioProject1" (change)="SelectData($event, project)">
                    </td>
                    <td><label class="col-sm-4 col-form-label" > {{project.PROJECT1}}</label> </td>
                    <td><label class="col-sm-4 col-form-label" > {{project.PROJECT_ID}}</label> </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div id=divAllUser *ngIf="searchType == 'user'" class="form-group row jumbotron">
              <table id=tdAllUser class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>Select</th>
                    <th>User</th>
                    <th>ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let user of allUser | filterpipe : txtSearchTarget">
                    <td>
                      <input class="form-check-input"  type="radio" name="radioUser" id="radioUser1" (change)="SelectData($event, user)">
                    </td>
                    <td><label class="col-sm-4 col-form-label" > {{user.FIRST_NAME}}</label> </td>
                    <td><label class="col-sm-4 col-form-label" > {{user.EMPLOYEE_ID}}</label> </td>
                  </tr>
                </tbody>
              </table>
          </div>

          <div id=divAllpTask *ngIf="searchType == 'taskparent'" class="form-group row jumbotron">
            <table id=tdAllTask  class="table table-bordered" >
              <thead class="thead-dark">
                <tr>
                  <th>Select</th>
                  <th>Task</th>
                  <th>ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let task of allParentTask | filterpipe : txtSearchTarget">
                  <td>
                    <input class="form-check-input"  type="radio" name="radioTask" id="radioTask1" (change)="SelectData($event, task)">
                  </td>
                  <td><label class="col-sm-4 col-form-label" > {{task.Parent_Task}}</label> </td>
                  <td><label class="col-sm-4 col-form-label" > {{task.Parent_ID}}</label> </td>
                </tr>
              </tbody>
            </table>
        </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-success">
        Add
      </button>
  </div>
  </form>
  